<main>
  <div class="card">
    <%= image_tag "top_sample2.jpg", class: "card-img-top img-fluid hero-img" %>
  </div>
  <div class="container mt-5 hoge">
    <section class="section">
      <h3 class="section-title mb-4 p-2">インターンシップ情報</h3>
      <div class="row row-cols-3 g-2">

        <% @internships.each do |internship| %>
        <div class="col card p-3 border-0">
          <% if internship.thumbnail.representable? %>
          <div class="ratio ratio-16x9">
            <%= image_tag internship.thumbnail.representation(resize_to_limit: [800, 800]), class: "card-img-top w-100" %>
          </div>
          <% elsif %>
          <%= image_tag "no_image.png", class: 'w-100' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= internship.title %></h5>
            <p class="card-text">aaa</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <% end %>

      </div>
    </section>
  </div>
</main>
