<main>
  <div class="card">
    <%= image_tag "top_sample2.jpg", class: "card-img-top img-fluid hero-img" %>
  </div>
  <div class="container mt-5 hoge">
    <h1>インターンシップサイトです！！</h1>
  </div>
</main>
