<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <% if image_urls.size > 1 %>
  <div class="carousel-indicators">
    <% image_urls.size.times do |i| %>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="active"
      aria-current="true" aria-label="Slide <%= i+1 %>"></button>
    <% end %>
  </div>
  <% end %>
  <div class="carousel-inner">
    <% image_urls.each_with_index do |url, i| %>
    <div class="carousel-item <%= 'active' if i == 0 %>">
      <%= image_tag url, class: 'd-block w-100' %>
    </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
