<div class="my-container">
  <h2 class="my-5">プライバシーポリシー</h2>
  <h5 class="mt-5 mb-3 fw-bold">はじめに</h5>
  <p>個人情報保護の重要性を認識し、適切に利用し、保護することが社会的責任であると考え、個人情報の保護に努めることをお約束いたします。</p>

  <h5 class="mt-5 mb-3 fw-bold">個人情報の定義</h5>
  <p>個人情報とは、個人に関する情報であり、氏名、生年月日、性別、電話番号、電子メールアドレス、職業、学校、勤務先等、特定の個人を識別し得る情報をいいます。</p>

  <h5 class="mt-5 mb-3 fw-bold">個人情報の収集・利用</h5>
  <p>インターンシップ活動を実施するため、その範囲内においてのみ、個人情報を収集・利用いたします。</p>
  <p>個人情報の収集・利用は、自発的な提供によるものであり、個人情報を提供された場合は、本方針に則って個人情報を利用することを利用者が許諾したものとします。</p>

  <h5 class="mt-5 mb-3 fw-bold">個人情報の第三者提供</h5>
  <p>法令に基づく場合等正当な理由によらない限り、事前に本人の同意を得ることなく、個人情報を第三者に開示・提供することはありません。</p>

  <h5 class="mt-5 mb-3 fw-bold">個人情報の管理</h5>
  <p>個人情報の漏洩、滅失、毀損等を防止するために、個人情報保護管理責任者を設置し、十分な安全保護に努め、また、個人情報を正確に、また最新なものに保つよう、お預かりした個人情報の適切な管理を行います。</p>

  <h5 class="mt-5 mb-3 fw-bold">情報内容の照会、修正または削除</h5>
  <p>ご提供いただいた個人情報の照会、修正または削除を希望される場合は、ご本人であることを確認させていただいたうえで、合理的な範囲ですみやかに対応させていただきます。</p>

  <h5 class="mt-5 mb-3 fw-bold">お問い合わせ先</h5>
  <p>当サイトのお問い合わせ先までお願いします。</p>
</div>
