<div class="my-container my-5">
  <div class="step-card">
    <div class="step-card-header">STEP1 会員登録</div>
    <div class="step-card-body"><a href="/students/sign_up">会員登録</a>から、「メールアドレス」「氏名」「生年月日」「学校・大学名」「学部・学科」を入力して会員登録を行う
    </div>
  </div>
  <div class="my-3 text-center">
    <i class="bi bi-caret-down-fill text-primary text-5xl"></i>
  </div>
  <div class="step-card">
    <div class="step-card-header">STEP2 インターンシップのお気に入り登録</div>
    <div class="step-card-body"><a href="/companies">企業一覧</a>もしくは<a
        href="/internships">インターンシップ一覧</a>から、参加してみたいインターンシップの詳細を確認し、お気に入り登録する
    </div>
  </div>
  <div class="my-3 text-center">
    <i class="bi bi-caret-down-fill text-primary text-5xl"></i>
  </div>
  <div class="step-card">
    <div class="step-card-header">STEP3 リスト確認</div>
    <div class="step-card-body">マイページのインターンシップ一覧から、お気に入りしたインターンシップのリストを確認する
    </div>
  </div>
  <div class="my-3 text-center">
    <i class="bi bi-caret-down-fill text-primary text-5xl"></i>
  </div>
  <div class="step-card">
    <div class="step-card-header">STEP4 企業に連絡</div>
    <div class="step-card-body">
      参加すると決めたインターンシップの企業担当窓口宛てに申し込みの電話をしてください<br>
      インターンシップ申し込みの連絡が完了したら、マイページでそのインターンシップの連絡済みチェックを入れることができます</div>
  </div>
</div>
