<div class="my-container my-5">
<dl>
  <dt>STEP1 利用者登録</dt>
  <dd>学生は、利用する際に利用者登録を行う(企業の利用者登録はない)。<br>「氏名」「在学中の教育機関」「メールアドレス」を登録。</dd>
  <dt>STEP2 インターンシップ選択</dt>
  <dd>学生は、企業一覧から参加してみたいインターンシップを選択。<br>おすすめ検索でおすすめのインターンシップが選択される機能を用いて選択することも可能。</dd>
  <dt>STEP3 リスト確認</dt>
  <dd>学生は、選択したインターンシップがマイページに表示されており、参加希望のインターンシップを確認することが可能。<br>組み直したい場合は、追加・削除をすることが可能。</dd>
  <dt>STEP4 企業アポ</dt>
  <dd>学生は、参加すると決めたインターンシップの企業担当窓口宛てにアポイントを入れてください。<br>インターンシップ申し込みが完了したら、お気に入りのインターンシップリストに連絡済みチェックを入れて完了。</dd>
</dl>
</div>
