<%= render 'partial/employee_mypage_layout' do %>
<h2 class="mb-4">インターンシップ編集</h2>

<%= render "form", internship: @internship, url: company_internship_path(@company.id), submit_label: "更新する" %>

<%= link_to "戻る", company_internship_path(@internship), class: 'link-primary-with-underline' %>

<% end %>
