<%= render 'partial/employee_mypage_layout' do %>
<h2 class="text-center mb-4">インターンシップ一覧</h2>

<ul class="list-group list-group-flush">
  <% @internships.each do |internship| %>
  <%= link_to internship.title, company_internship_path(id: internship.id), class: "list-group-item list-group-item-action" %>
  <% end %>
</ul>

<% end %>
