<div class="my-container">
  <h2 class="my-5">参加企業一覧</h2>
  <div class="list-group list-group-flush">
    <% @companies.each do |company| %>
    <p class="list-group-item"><%= link_to company.name, company %></p>
    <% end %>
  </div>
</div>
