<div style="width: 360px;" class="pages-margin-top mx-auto">

<h1>企業情報詳細</h1>

<div>
  <%= @company.name %>
  <%= link_to "編集する", edit_company_path(@company) %> |
  <%= link_to "戻る", companies_path %>
</div>
</div>
