<h1>Editing internship</h1>

<%= render "form", internship: @internship %>

<br>

<div>
  <%= link_to "Show this internship", @internship %> |
  <%= link_to "Back to internships", internships_path %>
</div>
