<p style="color: green"><%= notice %></p>

<h1>Internships</h1>

<div id="internships">
  <% @internships.each do |internship| %>
    <%= render internship %>
    <p>
      <%= link_to "Show this internship", company_internship %>
    </p>
  <% end %>
</div>

<%= link_to "New internship", new_company_internship_path %>
