<div class="my-container">
  <div class="my-5">
    <%= search_form_for @q, url: internships_path do |f| %>
      <%= render 'partial/internship_search_fields', f: f%>
    <% end %>
  </div>

  <div class="my-5 d-flex gap-4 align-items-center">
    <h2>インターンシップ一覧</h2>
    <span><%= @internships.size %>件</span>
  </div>
  <%= render 'partial/internships', internships: @internships %>
</div>
