<div style="width: 360px;" class="pages-margin-top mx-auto">
<h2 class="text-center mb-4">インターンシップ登録</h2>

<%= render "form", internship: @internship %>

<%= link_to "インターンシップ一覧に戻る", company_internships_path %>

</div>
