<div class="my-container">
  <div class="my-5">
    <%= render 'partial/internship_detail', internship: @internship %>
  </div>

  <i class="bi bi-chevron-left"></i><%= link_to "戻る", :back, class: 'link-primary-with-underline' %>
</div>
