.hero-img {
  height: 360px;
  object-fit: cover;
  object-position: 50% 60%;
}

.section {
  @extend .pb-5;
}

.section-title {
  background-color: $cyan-100;
  color: $gray-800;
  border-radius: 4px;
  @extend .mt-5;
  @extend .mb-4;
  @extend .p-2;
}

.object-fit-cover {
  object-fit: cover;
}
