.home {
  .hero-img {
    // height: 360px;
    // object-fit: cover;
    // object-position: center;
  }

  .section {
    @extend .pb-5;
  }

  .section-title {
    background-color: $gray-500;
    color: $gray-100;
    font-weight: bold;
    @extend .mt-5;
    @extend .mb-4;
    @extend .py-2;
    @extend .px-3;
  }

  .object-fit-cover {
    object-fit: cover;
  }
}
